<html>
	<body>
		<h1>
			<p>{{ user_data.screen_name }} (id: {{ user_data.user_id }}) data:</p>
		</h1>

		<h3>
			<img src="{{ user_data.profile_image_url }}"/>
			<p> Name: {{ user_data.name }} </p>
			<p> Description: {{ user_data.description|default:"N/A (left empty)" }} </p>
			<p> Location: {{ user_data.location|default:"N/A (left empty)" }} </p>
			<p> Followers count: {{ user_data.followers_count }} </p>
		</h3>

		<form action="{% url app_name|add:':index' %}">
			<input type="submit" value="Back" />
		</form>
	</body>
</html>
